<!doctype html>
<html lang='en'>
  <head>
    <!-- Required meta tags -->
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0' crossorigin='anonymous'>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <title>AdOn Signature</title>
  </head>
  <body>
      <div class='container' id="app">
          <div class='row mt-5'>
              <div class='col-sm-4'>
                <div class='card card-body'>
                  <h4>AdOn Signature Form</h4>
                  <hr>
                  <div class="card card-body">
                    <strong>Form options</strong>
                    <div class="form-check">
                      <input @click="showFormOpt1" class="form-check-input" type="radio" name="flexRadioDefault" id="isdefault" checked>
                      <label class="form-check-label" for="isdefault">
                        Default
                      </label>
                    </div>
                    <div class="form-check">
                      <input @click="showFormOpt2" class="form-check-input" type="radio" name="flexRadioDefault" id="twocontact">
                      <label class="form-check-label" for="twocontact">
                        2 Contact Numbers
                      </label>
                    </div>
                    <div class="form-check">
                      <input @click="showFormOpt3" class="form-check-input" type="radio" name="flexRadioDefault" id="mobileonly">
                      <label class="form-check-label" for="mobileonly">
                        Mobile number only
                      </label>
                    </div>
                  </div>
                  <hr>
                  <form v-if="isShowOpt1" class='form form-group mb-3'>
                      <label for=''>Name</label>
                      <input id='signame' type='text' class='form-control mb-2' :placeholder="sigName" v-model="sigName">
                      <label for=''>Position</label>
                      <input id="sigposition" type='text' class='form-control mb-2' :placeholder="sigPosition" v-model="sigPosition">
                      <label for=''>Phone Number</label>
                      <input id="sigphone" type='text' class='form-control mb-2' :placeholder="sigPhone" v-model="sigPhone">
                      <button style='width: 100%;' class='btn btn-primary' v-on:click="getData">
                        {{buttonText}}
                      </button>
                  </form>
                  <form v-if="isShowOpt2" action='' class='form form-group mb-3'>
                    <label for=''>Name</label>
                    <input id='signame2' type='text' class='form-control mb-2' :placeholder="sigName" v-model="sigName">
                    <label for=''>Position</label>
                    <input id="sigposition2" type='text' class='form-control mb-2' :placeholder="sigPosition" v-model="sigPosition">
                    <label for=''>Phone Number</label>
                    <input id="sigphone2" type='text' class='form-control mb-2' :placeholder="sigPhone" v-model="sigPhone"> 
                    <label for=''>Mobile Number</label>
                    <input id="sigmobile2" type='text' class='form-control mb-2' :placeholder="sigMobile" v-model="sigMobile">
                    <button style='width: 100%;' class='btn btn-primary' v-on:click="getData2">
                      {{buttonText}}
                    </button>
                  </form>
                  <form v-if="isShowOpt3" action='' class='form form-group mb-3'>
                    <label for=''>Name</label>
                    <input id='signame3' type='text' class='form-control mb-2' :placeholder="sigName" v-model="sigName">
                    <label for=''>Position</label>
                    <input id="sigposition3" type='text' class='form-control mb-2' :placeholder="sigPosition" v-model="sigPosition">
                    <label for=''>Mobile Number</label>
                    <input id="sigmobile3" type='text' class='form-control mb-2' :placeholder="sigMobile" v-model="sigMobile">
                    <button style='width: 100%;' class='btn btn-primary' v-on:click="getData3">
                      {{buttonText}}
                    </button>
                  </form>
                </div>
              </div>
              <div class='col-sm-8'>
                <div v-if="isShowOpt1" class="card card-body">
                  <h4 class="card-title">Live Preview</h4>
                  <hr>
                  <table style='width: 760px; height: auto; font-family: sans-serif; background: url(https://i.postimg.cc/T114xfKp/bg-gradiant.png); background-repeat: no-repeat; padding: 10px; background-size: cover; color: #fff; border-radius: 10px; margin: 0;'>
                    <tbody>
                      <tr>
                        <td>
                          <img style='width: 180px; height: auto; padding: -10px;' src='https://adondevelopment.com/clients/2021_sig_directory/images/AOG-logo_white.png' alt='AdOn logo'>
                        </td>
                        <td style='padding-top: 10px;'>
                          <strong style='font-size: 16px;'>
                            {{ sigName }}<br>
                            <small>{{ sigPosition }}</small>
                          </strong>
                          <p style='font-size: 12px;'>
                            <a :href=`tel:${sigPhone}` target='_blank' style='text-decoration: none; color: #fff; align-items: center;'>
                              <span>
                                <img style='width: 12px; align-items: center;' src='https://adondevelopment.com/clients/2021_sig_directory/images/icon-01.png' alt='phone'>
                              </span> &nbsp {{ sigPhone }}
                            </a>
                            <br>
                            <a href='https://www.adongroup.com.au' target='_blank' style='text-decoration: none; color: #fff; align-items: center;'>
                              <span>
                                <img style='width: 12px; align-items: center;' src='https://adondevelopment.com/clients/2021_sig_directory/images/icon-02.png' alt='internet'>
                              </span> &nbsp www.adongroup.com.au
                            </a>
                            <br>
                          </p>
                        </td>
                        <td>
                          <img style='width: 300px; height: auto; float: right;' src='https://adondevelopment.com/clients/2021_sig_directory/images/AdOn-logo-and-partners-higher-res-updated-v2.gif' alt='Partner'>
                        </td>
                      </tr>
                      <tr>
                        <td colspan='3'>
                          <p style='line-height: 1.2; font-size: 8px; padding-left: 15px; padding-right: 15px;'>
                            This email, its contents and any attachments are strictly confidential. They must not be used, distributed, copied or read by any person other than the addressee. Unauthorised use, disclosure, copying or reliance on the contents of and attachments to this email by anyone other than the addressee may be unlawful. If you have received this email and attachments in error please contact us at Ad on Group immediately to facilitate its return.
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="mt-2"><b>Note: </b>Do not copy this signature. This is for viewing porposes only.</p>
                </div>
                <div v-if="isShowOpt2" class="card card-body">
                  <h4 class="card-title">Live Preview</h4>
                  <hr>
                  <table style='width: 760px; height: auto; font-family: sans-serif; background: url(https://i.postimg.cc/T114xfKp/bg-gradiant.png); background-repeat: no-repeat; padding: 10px; background-size: cover; color: #fff; border-radius: 10px; margin: 0;'>
                    <tbody>
                      <tr>
                        <td>
                          <img style='width: 180px; height: auto; padding: -10px;' src='https://adondevelopment.com/clients/2021_sig_directory/images/AOG-logo_white.png' alt='AdOn logo'>
                        </td>
                        <td style='padding-top: 10px;'>
                          <strong style='font-size: 16px;'>
                            {{ sigName }}<br>
                            <small>{{ sigPosition }}</small>
                          </strong>
                          <p style='font-size: 12px;'>
                            <a :href=`tel:${sigPhone}` target='_blank' style='text-decoration: none; color: #fff; align-items: center;'>
                              <span>
                                <img style='width: 12px; align-items: center;' src='https://adondevelopment.com/clients/2021_sig_directory/images/icon-01.png' alt='phone'>
                              </span> &nbsp {{ sigPhone }}
                            </a>
                            <br>
                            <a :href=`tel:${sigMobile}` target='_blank' style='text-decoration: none; color: #fff; align-items: center;'>
                              <span>
                                <img style='width: 12px; align-items: center;' src='https://adondevelopment.com/clients/2021_sig_directory/images/icon-mobile-01.png' alt='mobile'>
                              </span> &nbsp {{ sigMobile }}
                            </a>
                            <br>
                            <a href='https://www.adongroup.com.au' target='_blank' style='text-decoration: none; color: #fff; align-items: center;'>
                              <span>
                                <img style='width: 12px; align-items: center;' src='https://adondevelopment.com/clients/2021_sig_directory/images/icon-02.png' alt='internet'>
                              </span> &nbsp www.adongroup.com.au
                            </a>
                            <br>
                          </p>
                        </td>
                        <td>
                          <img style='width: 300px; height: auto; float: right;' src='https://adondevelopment.com/clients/2021_sig_directory/images/AdOn-logo-and-partners-higher-res-updated-v2.gif' alt='Partner'>
                        </td>
                      </tr>
                      <tr>
                        <td colspan='3'>
                          <p style='line-height: 1.2; font-size: 8px; padding-left: 15px; padding-right: 15px;'>
                            This email, its contents and any attachments are strictly confidential. They must not be used, distributed, copied or read by any person other than the addressee. Unauthorised use, disclosure, copying or reliance on the contents of and attachments to this email by anyone other than the addressee may be unlawful. If you have received this email and attachments in error please contact us at Ad on Group immediately to facilitate its return.
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="mt-2"><b>Note: </b>Do not copy this signature. This is for viewing porposes only.</p>
                </div>
                <div v-if="isShowOpt3" class="card card-body">
                  <h4 class="card-title">Live Preview</h4>
                  <hr>
                  <table style='width: 760px; height: auto; font-family: sans-serif; background: url(https://i.postimg.cc/T114xfKp/bg-gradiant.png); background-repeat: no-repeat; padding: 10px; background-size: cover; color: #fff; border-radius: 10px; margin: 0;'>
                    <tbody>
                      <tr>
                        <td>
                          <img style='width: 180px; height: auto; padding: -10px;' src='https://adondevelopment.com/clients/2021_sig_directory/images/AOG-logo_white.png' alt='AdOn logo'>
                        </td>
                        <td style='padding-top: 10px;'>
                          <strong style='font-size: 16px;'>
                            {{ sigName }}<br>
                            <small>{{ sigPosition }}</small>
                          </strong>
                          <p style='font-size: 12px;'>
                            <a :href=`tel:${sigMobile}` target='_blank' style='text-decoration: none; color: #fff; align-items: center;'>
                              <span>
                                <img style='width: 12px; align-items: center;' src='https://adondevelopment.com/clients/2021_sig_directory/images/icon-mobile-01.png' alt='phone'>
                              </span> &nbsp {{ sigMobile }}
                            </a>
                            <br>
                            <a href='https://www.adongroup.com.au' target='_blank' style='text-decoration: none; color: #fff; align-items: center;'>
                              <span>
                                <img style='width: 12px; align-items: center;' src='https://adondevelopment.com/clients/2021_sig_directory/images/icon-02.png' alt='internet'>
                              </span> &nbsp www.adongroup.com.au
                            </a>
                            <br>
                          </p>
                        </td>
                        <td>
                          <img style='width: 300px; height: auto; float: right;' src='https://adondevelopment.com/clients/2021_sig_directory/images/AdOn-logo-and-partners-higher-res-updated-v2.gif' alt='Partner'>
                        </td>
                      </tr>
                      <tr>
                        <td colspan='3'>
                          <p style='line-height: 1.2; font-size: 8px; padding-left: 15px; padding-right: 15px;'>
                            This email, its contents and any attachments are strictly confidential. They must not be used, distributed, copied or read by any person other than the addressee. Unauthorised use, disclosure, copying or reliance on the contents of and attachments to this email by anyone other than the addressee may be unlawful. If you have received this email and attachments in error please contact us at Ad on Group immediately to facilitate its return.
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p class="mt-2"><b>Note: </b>Do not copy this signature. This is for viewing porposes only.</p>
                </div>
              </div>
          </div>
      </div>
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8' crossorigin='anonymous'></script>
    <script src="https://unpkg.com/vue@3.0.11"></script>
    <!-- <script src="https://unpkg.com/browse/vue-router@4.0.8/dist/vue-router.global.js"></script> -->
    <script src="js/app.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js' integrity='sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p' crossorigin='anonymous'></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js' integrity='sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ' crossorigin='anonymous'></script>
    -->
  </body>
</html>